@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;600&display=swap');
:root{
	--rojo:#da0000ee;
	--blanco:#eeee;
	--naranja:#e46a07; 
	--verde:#9ABBAC;
	--azul:#2496d8; 
    --azul_fuerte:#1073ac;
    --gris_bajo:#e6e6e6;
    --gris:#c2bdbd; 
}
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
a{
    text-decoration: none;
}
html{
	font-size: 62.5%; /*1rem =10px ahora*/
}
.main__card{
    width:min(30rem, 32rem);
}
.main__card,.main__dashboard{
    font-family: 'Noto Sans', sans-serif;
    border-radius: 1rem;
    font-size: 1.8rem;
    padding: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    box-shadow:0rem 0rem 3rem #e6e6e6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main__card,.main__tittle{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main__tittle{
    text-align: center;
    gap: 1rem;
}
.main__tittle i{
    font-size: 6rem;
    color: var(--azul);
}
.main__tittle__text{
    font-size: 2rem;
}
.form__loging{
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    
    font-size: 1.6rem;
}
.form__loging__input{
    width: 100%;
    height: 4rem;
    padding: 2rem 1rem;
    border: 0px black solid;
    border-bottom: 0.15rem black solid;;
   
}
.btn__loging{
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--blanco);
    border:0;
    background-color: var(--azul);
    transition: background-color 0.5s;
}
.btn__loging:hover{
    background-color: var(--azul_fuerte);
}
.dashboard__tittle{
    text-align: center;
}

.dashboard__links{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1.5rem 1rem;
}

.dashboard__links a{
    text-align: center;
    min-width: 25rem;
    padding: 1.2rem 1rem;
    border-radius: 5px;
    color: var(--blanco);
    background-color: var(--azul_fuerte);
    transition: background-color 0.5s, transform 0.5s;
}
.dashboard__links a:hover{
    background-color: var(--azul);
    transform: scale(1.1);
}
.dashboard__links a i{
    font-size: 2.2rem;
}
.Tittle__General{
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    padding: 1rem;
    font-size: 3.2rem;
}
.user__container,.products__container{
    font-family: 'Noto Sans', sans-serif;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.User__card,.product__card{
    
    border-radius: 1rem;
    width: min(35rem,100%);
    font-size: 1.4rem;
    display: flex;
    padding: 1.5rem;
    gap: 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow:0rem 0rem 2rem #e6e6e6;
}
.User__card__layout,.product__card__layout { 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: 1.5rem;
}
.User__card__layout .fa-circle-user,.product__card__layout .fa-box{
    font-size: 4.5rem;
    color: var(--azul_fuerte);
}
.user__card--delete{
    font-size: 2rem;
    border: 0;
    color: var(--blanco);
    background-color: var(--azul);
    padding: 1rem;
    border-radius: 0.5rem;
}
.user__info,.product__info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
}
.user__info p b,.product__info p b{
    font-size: 1.6rem;
}